@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
/* azret mono- font family */

* {
  padding: 0%;
  margin: 0%;
  font-family: "azret mono", monospace;
}
/* shared style */
.btn {
  padding: 10px;
  background: #fff;
  border: 1px solid #5f5f5f;
}
.btn-hover:hover {
  padding: 10px;
  background: #000000;
  color: #fff;
  border: 1px solid #5f5f5f;
}
.section-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
/* nav */
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav ul li {
  list-style: none;
  margin: 2% 3%;
}
.nav ul li a {
  text-decoration: none;
  color: #000;
}
.nav {
  height: 100px;
}

/* hero */
.hero {
  background: url(assets/Hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  border: 2px dashed #bbbb;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.headerbtn {
  background: #000;
  border: none;
  color: #fff;
  padding: 15px 30px;
  margin-top: 20px;
}
.headerbtn:hover {
  background: #fff;
  border: 1px solid#000;
  color: #000;
}
/* why-section */
.why {
  background: rgba(13, 19, 33, 0.02);
}
.why > .container > .content {
  padding: 0px;
  border-radius: 5px;
  width: 850px;
  height: 240px;
  margin: 48px;
}
.why > .section-header {
  padding-top: 140px;
}
.why > .container {
  margin-left: 14vw;
}
.content {
  display: flex;
  align-items: center;
  gap: 100px;
  background: #fff;
  padding: 60px;
}
.inner-content {
  background: #fff;
  box-shadow: #bbb;
  padding-left: 10px;
}
.inner-content img {
  height: 220px;
  width: 260px;
}
